.DS_Store
.idea/
.vscode

# Ignore everything under .config
.config/*
# But don't ignore these specific directories
!.config/git/
!.config/lazydocker/
!.config/lazygit/
!.config/mise/
!.config/nvim/
!.config/sheldon/
!.config/wezterm/
!.config/zsh/
!.config/zk/